# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
TestResults/
*.log

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# Rider/JetBrains
.idea/
*.sln.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Outros temporários
*.tmp
*.bak
*.swp
*.cache

# Publish
publish/